- content_for :javascript do
  :javascript
    $(document).ready(function() {
      var validator = $("##{form_id}").validate({
        rules: {
          "comment[comment]": {
            required: true,
            minlength: 20
          }
        },
        messages: {

          "comment[comment]": {
            required: "¿Y donde esta tu comentario?",
            minlength: "Vamos! Un poco más largo por favor. 20 letras minimo!"
          }
          
        }
        
        
      });
    });
