body {
  font-size: 62.5%;
  line-height: 1.5em;
  font-family: Verdana,Arial,Helvetica,Tahoma,sans-serif; }

h1 {
  margin: 20px 0px 15px 0px;
  font-size: 18px; }

h2 {
  font-size: 16px;
  margin: 20px 0px 10px 0px; }

h3 {
  font-size: 12px;
  padding: 0;
  margin: 0; }

span.small {
  font-size: 9px; }

a {
  text-decoration: none;
  color: #4183C4; }

a.red {
  text-decoration: none;
  color: red; }

.startpage {
  font-size: 14px;
  line-height: 18px; }

.biznames .elena {
  color: #F53166; }
.biznames .fabian {
  color: #2532F5; }
.biznames #points {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px; }
.biznames h1 {
  font-size: 20px; }
.biznames p {
  font-size: 14px;
  line-height: 18px; }
.biznames a.very_big_link {
  font-size: 18px; }
.biznames .form {
  margin-top: 20px;
  background-color: #EAF2F5;
  border: 2px solid #DDDDDD;
  padding: 0px 10px 10px 10px; }
  .biznames .form label {
    font-size: 14px; }
  .biznames .form label.with_subtitle {
    margin-bottom: 0px; }
  .biznames .form span.subtitle {
    font-size: 9px;
    padding: 0;
    margin: 0;
    line-height: 2px; }
  .biznames .form textarea {
    margin-top: 0px;
    height: 323px; }
  .biznames .form input[type="text"] {
    border: solid 1px #999999;
    width: 100%;
    height: 25px;
    font-size: 18px; }
  .biznames .form input[type="submit"] {
    width: 170px;
    height: 40px;
    font-size: 16px; }


#header_info_box {
  background-color: #EAF2F5;
  margin-top: 15px;
  border: 1px solid #DDDDDD;
  overflow: hidden;
  width: 100%; }
  #header_info_box .content {
    margin: 0.8em 0.5em; }
    #header_info_box .content .picture {
      float: left; }
    #header_info_box .content img {
      background-color: white;
      border: 1px solid #D0D0D0;
      margin-right: 20px;
      padding: 2px; }
    #header_info_box .content .top {
      overflow: hidden; }
      #header_info_box .content .top .name {
        float: left;
        font-size: 1.4em;
        font-weight: bold;
        width: 10em; }
      #header_info_box .content .top .field {
        float: left;
        font-size: 1.2em;
        font-weight: normal;
        padding-right: 10px; }
      #header_info_box .content .top .submit_button {
        padding-top: 16px; }
      #header_info_box .content .top .links {
        float: right;
        font-size: 100%;
        margin-top: 0.2em;
        text-align: right; }
    #header_info_box .content .bottom {
      overflow: hidden; }
      #header_info_box .content .bottom .inbox {
        background: transparent url(/images/message.png) no-repeat scroll 0 0.1em;
        float: left;
        margin-top: 1em; }
        #header_info_box .content .bottom .inbox a {
          display: block;
          padding-left: 20px; }
        #header_info_box .content .bottom .inbox .money {
          background: transparent url(/images/money.jpg) no-repeat scroll 0 0.0em;
          float: left;
          margin-top: 1em; }
          #header_info_box .content .bottom .inbox .money span {
            display: block;
            padding-left: 20px; }
      #header_info_box .content .bottom .select {
        float: right;
        margin-top: 1em; }


#header {
  height: 100px;
  margin-bottom: 20px; }

fieldset .info {
  clear: left;
  font-weight: bold; }

form legend {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px; }
form label {
  clear: left;
  text-align: right;
  margin-bottom: 10px; }
form h3 {
  margin-bottom: 10px; }

#flash_wrapper {
  margin-top: 20px;
  text-align: center; }
  #flash_wrapper #flash_messages {
    margin: 0 auto;
    width: 100%;
    height: 20px;
    border: solid 1px black;
    padding: 5px;
    text-align: center; }
    #flash_wrapper #flash_messages p {
      font-size: 20px; }

.thumb_photo_in_table .photo {
  width: 35px; }
.thumb_photo_in_table .username {
  margin-top: 5px; }
