#main {
  margin-top: 20px; }

#footer {
  margin-top: 40px; }

.round_section {
  background-color: #565247;
  padding: 15px; }
  .round_section h1 {
    font-size: 140%; }

.story_body_text_area {
  width: 610px;
  height: 200px; }
