tr.not_administered td {
  background-color: yellow; }

.introduction_text {
  margin-top: 30px;
  padding: 0 55px 0px 10px;
  color: white;
  color-font-size: 110%; }

.my_pagination .pagination {
  float: right;
  margin: 0 auto;
  font-size: 130%; }
  .my_pagination .pagination a {
    color: #ceff00; }

a {
  color: #ceff00; }

a.green {
  color: #ceff00; }

a.white {
  color: white; }

a.inactive {
  color: black;
  font-weight: normal; }

#main {
  margin-top: 20px; }

#footer {
  margin-top: 40px; }

.top_round_section {
  background-color: #565247;
  padding: 10px;
  height: 17px; }
  .top_round_section h1 {
    font-size: 140%; }

.round_section {
  margin-bottom: 10px;
  background-color: #565247;
  padding: 10px; }
  .round_section h1 {
    font-size: 140%; }
  .round_section h1.title {
    padding-bottom: 7px;
    font-size: 160%;
    color: white;
    border-bottom: 1px solid white; }

.story_body_text_area {
  width: 550px;
  height: 200px; }


.sidebar {
  color: white; }
  .sidebar h2 {
    font-size: 120%;
    color: white; }
  .sidebar .round_section {
    margin-bottom: 20px;
    background-color: #565247;
    padding: 10px; }
    .sidebar .round_section h2 {
      color: white; }
  .sidebar a {
    color: #ceff00; }
  .sidebar a:hover {
    color: white; }

#top_navigation ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none; }
#top_navigation li {
  float: left; }
  #top_navigation li a {
    display: block;
    width: 80px;
    height: 50px;
    padding: 56px 0 0 0px;
    text-align: center;
    color: #ceff00; }
  #top_navigation li a.active {
    color: white; }
  #top_navigation li a:hover {
    color: white; }
#top_navigation a#welcome {
  background: transparent url(/images/icon_home.png) no-repeat scroll center top; }
#top_navigation a#welcome.active {
  background: transparent url(/images/icon_home_active.png) no-repeat scroll center top; }
#top_navigation a#new_history {
  background: transparent url(/images/icon_new.png) no-repeat scroll center top; }
#top_navigation a#top {
  background: transparent url(/images/icon_top.png) no-repeat scroll center top; }
#top_navigation a#flop {
  background: transparent url(/images/icon_flop.png) no-repeat scroll center top; }
#top_navigation a#moderate {
  background: transparent url(/images/icon_moderate.png) no-repeat scroll center top; }
#top_navigation a#new_history.active {
  background: transparent url(/images/icon_new_active.png) no-repeat scroll center top; }
#top_navigation a#top.active {
  background: transparent url(/images/icon_top_active.png) no-repeat scroll center top; }
#top_navigation a#flop.active {
  background: transparent url(/images/icon_flop_active.png) no-repeat scroll center top; }
#top_navigation a#moderate.active {
  background: transparent url(/images/icon_moderate_active.png) no-repeat scroll center top; }

.story_wrapper {
  margin-bottom: 10px; }
  .story_wrapper textarea {
    width: 560px;
    height: 100px; }
  .story_wrapper .body {
    background-color: white;
    padding: 10px; }
    .story_wrapper .body a {
      color: black;
      font-weight: normal; }
    .story_wrapper .body a.blue {
      color: #0c749f; }
    .story_wrapper .body h1 {
      font-size: 17px;
      margin-bottom: 10px; }
    .story_wrapper .body h2 {
      font-size: 14px;
      margin-bottom: 0px; }
      .story_wrapper .body h2 a {
        font-weight: bold;
        color: #565247; }
  .story_wrapper .footer {
    background-color: #dfd8c6;
    padding: 5px 5px; }
  .story_wrapper .vote_top, .story_wrapper .vote_flop {
    margin-left: 8px; }
  .story_wrapper .comments a {
    margin-left: 10px; }
  .story_wrapper .vote_top {
    background: transparent url(/images/icon_vote_top.png) no-repeat scroll 0 0.1em; }
    .story_wrapper .vote_top span a {
      display: block;
      padding-left: 17px; }
  .story_wrapper .vote_flop {
    background: transparent url(/images/icon_vote_flop.png) no-repeat scroll 0 0.1em; }
    .story_wrapper .vote_flop span a {
      display: block;
      padding-left: 17px; }

.story_comment {
  border-bottom: 1px black dashed;
  margin: 10px 0px; }

.label {
  font-size: 120%; }

.label_description {
  font-size: 90%; }

#cada_dia {
  font-size: 80%; }
  #cada_dia td {
    padding: 2px 2px 2px 8px; }
  #cada_dia .Saturday, #cada_dia .Sunday {
    color: red; }
