#main {
  width: 960px; }

#content #middle {
  background: transparent url(/images/new/content_middle.png) repeat-y scroll 0 0em;
  display: inline;
  width: 730px;
  float: right; }
  #content #middle #stories_content {
    float: right;
    position: relative;
    margin-top: -186px;
    padding-right: 10px;
    display: inline;
    width: 720px; }
