.kissnofrog .user {
  float: left;
  height: :80px;
  width: 100%;
  border-bottom: solid 1px; }
.kissnofrog .photo {
  float: left;
  width: 200px; }
.kissnofrog .flirt {
  float: left; }
.kissnofrog .rating_bar a.make_rating_link {
  width: 13px;
  height: 13px;
  border: solid 1px black;
  display: block;
  float: left;
  margin-right: 5px;
  text-align: center; }
.kissnofrog .flirt_scroller {
  height: 70px;
  overflow: auto;
  width: 300px; }
