-if logged_in?
  .round_section
    %h2="¡Hola #{current_user.login}!"
    Estás conectado
    %br
    -if current_user.admin
      =link_to "Admin", :controller => "admin/kpis"
      %br
      =link_to "New Design", :controller => "welcome/new"
    %br
    =link_to "Cerrar sesión", logout_path
