=stylesheet_link_tag "reset"
=stylesheet_link_tag "generic"
=stylesheet_link_tag "konauto_master"
=stylesheet_link_tag "jquery.autocomplete.css"
=stylesheet_link_tag "ui.datepicker.css"
=stylesheet_link_tag "clockpick.css"
=stylesheet_link_tag "facebox"
=stylesheet_link_tag "tipsy"
=stylesheet_link_tag "application"
/[if IE 6]
  =stylesheet_link_tag "iefixes_v6.css"
