= javascript_include_tag :defaults

= javascript_include_tag 'jquery.confirm-1.2.js', 'jquery.jgrowl.js', 'jquery.form.js', 'jquery.validate.js', 'jquery.corners.js', 'jquery.scrollTo.js', 'jquery.tablesorter.min.js', 'jquery.timer.js'
