=stylesheet_link_tag "testie"

%body
  .wrapper
    #main
      %div{:style=>"height:400px"} &nbsp;

      #content
        #top TOPPPPPPPPP&nbsp;
        #middle
          Dies ist in Middle
          #stories
            %h1 dies ist stories
            STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES         STORIES 
            =image_tag "new/tagline.png", :class => :fix
      .clear