=stylesheet_link_tag "testie"

#main
  MAIN STUFF
  #content
    content-content   content-content   content-content   content-content   content-content   content-content   content-content   content-content 
    #middle
      Dies ist in Middle
      #stories
        %h1 dies ist stories
        Some Content in MIDLLE    Some Content in MIDLLE    Some Content in MIDLLE    Some Content in MIDLLE    Some Content in MIDLLE    Some Content in MIDLLE    Some Content in MIDLLE
        =image_tag "new/tagline.png", :class => :fix
  .clear