- content_for :javascript do
  :javascript
    $(document).ready(function() {
      var validator = $("##{form_id}").validate({
        rules: {
          "story[title]": {
            required: true,
            minlength: 20,
            maxlength: 100            
          },
          "story[body]": {
            required: true,
            minlength: 101
          },
          "story[category_id]": {
            required: true
          },
          "story[country_id]": {
            required: true
          },
          "story[email]": {
            email: true
          },
          "terms[accepted]": {
            required: true
          }
          
        
        },

        messages: {
          "story[title]": {
            required: "El titulo es importante para que los demas se pueden hazer una idea de que va tu historia",
            minlength: "El titulo de tener al menos 20 signos",
            maxlength: "El titulo debe tener no mas que 100 signos"
          },
          "story[body]": {
            required: "¡Suelta una historia!",
            minlength: "¡Enróllate un poco más, al menos 100 letras por favor!"
          },
        "story[category_id]": {
          required: "Seleciona una categoria"
          },
        "story[country_id]": {
          required: "Elíge donde vives"
        },
        "story[email]": {
          email: "Este email no es valido"
          },
        "terms[accepted]": {
          required: "Debes aceptar las condiciones de uso"
        }
          
        },
        
        submitHandler: function(form) { 

          submit_form(form)
    
        }
        
      });
    });
