-title("Contar nueva historia en queputamierda.com")

-content_for(:sidebar) do
  =render :partial => '/shared/sidebars/sidebar_new'

-content_for(:main) do

  #new_story_wrapper
    - form_for(@story) do |f|
      
      %h1.title ¡Cuenta tu historia!
      
      - if f.error_messages.present?
        #flash_message
          .error
            Hay errores, debes llenar todos los campos para enviar tu historia.
      %p
        =f.label(:title, "Titulo de la historia")
        =f.text_field :title, :class => "input", :size => 72
        =f.error_message_on :title

      %p
        =f.label(:body, "Historia")
        =f.text_area :body, :class => "input"
        =f.error_message_on :body
      %p
        =f.label(:category_id, "Categoría")
        =select("story", "category_id", Category.for_select_box, { :include_blank => true })
        =f.error_message_on :category_id        

      / %p
      /   =f.label(:country_id, "Tu País")
      /   =f.select("country_id", Country.for_select_box, { :include_blank => true })
  
      %p
        -unless logged_in?
          =f.label(:email, "E-Mail")
          =f.label(:email, "¿Quieres que te avisemos cuando tu historia tenga comentarios? ¡Déjanos tu correo!", :class => "label_sub")
          =f.text_field :email, :class => "input  short"
          =f.error_message_on :email              
        -else
          =f.check_box :anonymous
          %span.label Escribir como anónimo

      %p
        =f.label(:tag_list, "Palabras claves")
        =f.label(:tag_list, "Separadas por comas (Ejemplo: autobus, fiesta, mascota, amigo)", :class => "label_sub")              
        =text_field_tag "story[tag_list]", nil, :size => 60, :class => "input short"
        /, :onclick => "this.value = ''", :onfocus => "this.value = ''"

      %p
        %br
        =check_box_tag "terms[accepted]", "", :checked => "checked"
        %span.label= link_to "Aceptar los Términos del Servicio", terms_path, :target => "blank", :class => "link_blue"

      %p
        %br
        = f.submit '¡Soltar la mierda!', :class => "btn_middle orange"

-if JS_VALIDATION == true
  =render :partial => "js_validation", :locals => { :form_id => "new_story" }