-title("#{@story.browser_title} - queputamierda.com")

.grid_16
  .grid_10.alpha
    .single_start
    =render :partial => "story_single", :locals => {:story => @story}

  .sidebar    
    .grid_5
      =render :partial => 'users/status'

      .round_section
        %h2 Historias relacionadas
        
        %ul
          -@related_stories.each do |story|
            %li
              %h3=link_to story.title, story_path(story)

        
        
      .round_section
        =render :partial => "/categories/categories"

      .round_section
        =render :partial => "/newsletter_registrations/new", :locals => {:newsletter_registration => NewsletterRegistration.new}


      -unless logged_in?
        .round_section
          =render :partial => "/sessions/login"
        .clear