-title("")

.grid_16    
  .grid_10.alpha
    %h1="Resumen - #{params[:id]}"
    .top_round_section
      .my_pagination
        = will_paginate @stories, :prev_label => '« Anterior', :next_label => 'Siguiente »'
    =render :partial => 'stories/story', :collection => @stories

    .my_pagination
      = will_paginate @stories, :prev_label => '« Anterior', :next_label => 'Siguiente »'
  
  .sidebar    
    .grid_5
      =render :partial => 'users/status'

      / .round_section
      /   =render :partial => "/tags/cloud_for_sidebar", :locals => {:tags => @tags}

      .round_section
        =render :partial => "/categories/categories"

      .round_section
        =render :partial => "/newsletter_registrations/new", :locals => {:newsletter_registration => NewsletterRegistration.new}



      -unless logged_in?
        .round_section
          =render :partial => "/sessions/login"
