-title("Las putadas más grandes")

-content_for(:sidebar) do
  =render :partial => '/shared/sidebars/sidebar_tops'


-content_for(:top) do
  #top
    .country_selector
      ="Estas viendo <b>las putadas más grandes</b>"



-content_for(:main) do
  =render :partial => 'stories/story_new', :collection => @stories

  = will_paginate @stories, :prev_label => '« Anterior', :next_label => 'Siguiente »'
  = will_paginate @stories, :page_links => false, :class => "prev_next_pagination", :previous_label => "", :next_label => ""
