.terms
  %h1 Términos del Servicio
 
  .title Definiciones:

  En lo siguiente se denomina “contenido” a la historia o texto introducido y “usuario” a la persona que lo introduce o que valora textos ajenos. El responsable del sitio se denomina “proveedor”. Y con sitio se hace referencia a www.queputamierda.com.

  Los textos reflejan la opinión de los usuarios, en ningún caso es el proveedor responsable de éstas ni de su veracidad.
  Uso:

  El sitio puede ser utilizado libremente como plataforma de información. No está permitido el uso del contenido con fines comerciales por parte de usuarios o terceros así como tampoco por programas informáticos.

  El uso de este sitio o de sus bienes y servicios; impresión, descarga u otra utilización, así como registro suponen la absoluta aceptación de los Términos del Servicio. Por favor, si no está de acuerdo con estos Términos del Servicio, no use ni se registre en este Sitio.
  
  .title Usuario:

  El usuario se hace cargo de que renuncia a todos los derechos sobre el contenido que ingrese, cediéndoselos al proveedor sin límite espacial o temporal. El proveedor puede cambiar ese contenido, multiplicarlo, difundirlo y/o ceder los derechos sobre el mismo a terceros sin compensación alguna al autor. Además, el usuario no tiene el derecho a que su texto o artículo sea publicado. Queda a la discreción del proveedor rechazar artículos u otros textos sin comentario o razón. Además, en caso de que el texto sea publicado, esta publicación puede cesar en cualquier momento.

  .title El usuario asegura que el contenido:

  1.      No viola ningún derecho de terceros. Incluyendo especialmente derechos de autor, de marca o patentes.

  2.      No viola ninguna ley.

  3.      No es ofensivo, falso, deshonroso, denigrante, calumnioso, difamatorio, amoral o pornográfico y que no incurre en cualquier otro delito.

  4.      No tiene como objeto difundir ninguna ideología, tendencia política o creencia religiosa.

 

  .title Responsabilidad sobre el contenido

  1.      Cada usuario es responsable del contenido que redacta y/o envía.

  2.      El proveedor no ha de velar por la calidad, los derechos o la integridad del contenido que es transmitido por los usuarios. Las aportaciones de los usuarios no incluyen la opinión u orientación del proveedor, que no es, por tanto, responsable de éste.

  3.      El usuario exime al proveedor de cualquier responsabilidad o exigencia requerida por terceros y causada por los textos de los que es autor. Los costes y responsabilidades legales, si los hubiere, recaerán en el usuario que los ocasione."