- form_for(newsletter_registration) do |f|
  = f.error_messages
  %br
  %br  
  %span.label Email:
  = f.text_field :email, :class => :input
  %br
  = f.submit 'Registrarse', :class => "btn_middle orange"
.clear

=render :partial => "/newsletter_registrations/js_validation", :locals => { :form_id => "new_newsletter_registration" }