-title("Historias sobre el tema #{@category.name} - queputamierda.com")

-content_for(:sidebar) do
  =render :partial => '/shared/sidebars/sidebar', :locals => {:big => false}

-content_for(:top) do
  .country_selector
    .cs_content
      .filter_indicator
        ="Estas viendo entradas de la categoría: <b>#{@category.name}</b>"

-content_for(:main) do
  =render :partial => 'stories/story_new', :collection => @stories

  .paginators
    -if PAGINATION or true
      = will_paginate @stories, :prev_label => '« Anterior', :next_label => 'Siguiente »'
      = will_paginate @stories, :page_links => false, :class => :prev_next_pagination, :previous_label => "", :next_label => ""
