- content_for :javascript do
  :javascript
    $(document).ready(function() {
      var validator = $("##{form_id}").validate({
        rules: {
          "suggestion[email]": {
            email: true
          },
          "suggestion[body]": {
            required: true,
            minlength: 20
          }
        },

        messages: {
          "suggestion[email]": {
            email: "Email introducido no válido."
          },
          "suggestion[body]": {
            required: "¡Suelta una sugerencia!",
            minlength: "¡Tu sugerencia es demasiado corta. Por favor, ¡dinos algo más! Al menos 20 letras por favor!"
          }
          
        },
        
        submitHandler: function() { submit_form($("##{form_id}")) }
        
      });
    });
