-title("Queremos vuestras sugerencias")

-content_for(:sidebar) do
  =render :partial => '/shared/sidebars/sidebar_empty'

-content_for(:main) do
  #new_story_wrapper
    #new_story
      - form_for(:suggestion, :url => { :action => "create"}, :html => {:id => "new_suggestion"}) do |f|
  
        %h1.title ¿Qué añadirías o cambiarías en queputamierda.com?
  
        %p{:style => "font-size: 14px; line-height: 17px;"} Estamos de remodelaciones. Si tienes ideas de nuevas funcionalidades u opciones, o si encuentras que se nos ha escapado algo, ¡dínoslo y haz que queputamierda.com crezca y mejore contigo!
  
        - if f.error_messages.present?
          #flash_message
            .error
              Hay errores, debes llenar todos los campos para enviar tu sugerencia.
        %p
          =f.label(:email, "E-Mail")
          =f.label(:email, "Déjanos tu Email y te informaremos de las novedades", :class => "label_sub")
          =f.text_field :email, :class => "input  short"
          =f.error_message_on :email              
        
        %p
          =f.label(:body, "Sugerencia")
          =f.text_area :body, :size => "20x10", :class => "input"
          =f.error_message_on :body
        %p
          %br
          = f.submit '¡Mandar!', :class => "btn_middle orange"

-if JS_VALIDATION == true
  =render :partial => "js_validation", :locals => { :form_id => "new_suggestion" }