!!! XML
!!! Strict
%html{html_attrs("es")}
  %head
    %meta{content_type_attrs("text/html")}
    :erb
      <meta name="verify-v1" content="nd/clabopIlPDTbgXhlNswgrO2uUSa2CABjvYNlSAaU=">
      <link rel=”shortcut icon” href=”favicon.ico” type=”image/x-icon”> 
    %title=yield(:title)

    =stylesheet_link_tag "reset"
    =stylesheet_link_tag "all"    
    =stylesheet_link_tag "generic"    
    =stylesheet_link_tag "messages"        

  /[if IE 7]
    =stylesheet_link_tag "iefixes"

  /[if IE 6]
    =stylesheet_link_tag "iefixes_v6"
      
  = javascript_include_tag 'jquery.js', 'jquery.corners.js', 'jrails.js', 'new_application.js', 'jquery.form.js', 'jquery.validate.js'

  %body{:id=>controller.controller_name}
    .wrapper{:id => controller.action_name}
      #main
        #header
          /#header_login_section
          #logo
            =link_to(image_tag("new/que-puta-mierda-logo.png", :class => :fix), root_path)
            #tagline
              =image_tag "new/tagline.png", :class => :fix
          
          =tabnav :main

        .seperator_line

        #sub_header
          #header_text
            ¿TU NOVIA TE DEJO EN TU CUMPLEAÑOS? ¿COMPRASTE UN VUELO PARA EL DÍA EQUIVOCADO?
            /Y LOS SUPISTE UNA VEZ EN EL AEROPUERTO?
            #subtext
              ¡Suéltalo! Todos somos alguna vez víctimas de la mala suerte o de nuestra propia estupidez. Cuenta tu historia y opina sobre las ajenas. ¿Cuando es una cagada y cuando una putada?

          /-if controller.controller_name == "stories" and controller.action_name == "new"
          /  #vamos &nbsp;              

          #right
            -unless controller.controller_name == "stories" and controller.action_name == "new"
              =link_to(image_tag("new/btn_contar_nueva_historia.png"), new_story_path)
    
        =yield(:sidebar)
        
        #content
          #middle.fix
            #stories_content

              #top
                -unless yield(:top)
                  .spacer
                =yield(:top) || "&nbsp;"
                -if flash[:success] || flash[:info] || flash[:error]
                  #flash_message
                    -if flash[:success]
                      .success
                        =flash[:success]
                    -if flash[:info]
                      .info
                        =flash[:info]
                    -if flash[:error]
                      .error
                        =flash[:error]

              =yield(:main) || "&nbsp;"
          = yield

          
          #end.fix &nbsp;
          
          =link_to (image_tag("new/terms.png", :class => :fix), "#", :id => "terms_link")

        

  =yield(:javascript)