=stylesheet_link_tag "elena"    


:erb

  <div id="story_wrapper">
    <div id="left">
      Icon de comentario
    </div>
    
    <div id="middle">
      headline y texto
    </div>
    
    <div id="right">
      <img src="/images/new/icon_thumbs_up_active.png"></img>  
    </div>        
    
  </div>



  